.modal {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.image img {
  margin: 124px 75px 114px 93px;
  width: 372px;
  height: 372px;
}

.modal-content {
  position: relative;
  display: flex;
  margin: auto;
  width: 964px;
  height: 610px;
  background-color: white;
  box-shadow: 0px 6px 55px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.modal-description {
  height: 450px;
  text-align: left;
  width: 100%;
  padding: 30px;
  overflow: auto;
}

.modal-description h3 {
  color: #73798c;
}

.modal-button {
  position: absolute;
  bottom: 30px;
  width: 320px;
  height: 48px;
  background: #f96900;
  border-radius: 1000px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

.modal-button:hover {
  background: #ed5d08;
  cursor: pointer;
  transition: 0.4s;
}

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  display: inline-block;
  cursor: pointer;
  background: #f3f3f7;
  border-radius: 100px;
  font-weight: 400;
  font-size: 12px;
  opacity: 0.7;
  text-align: center;
  padding: 5px 28px 7px 28px;
}

.radio-toolbar input[type="radio"]:checked + label {
  background: #ffffff;
  box-shadow: 0px 3px 15px rgba(6, 5, 50, 0.05);
  border-radius: 100px;
}

.radio-toolbar label:hover {
  color: #333;
}

.radio-toolbar {
  display: flex;
  padding: 2px;
  width: 330px;
  background: #f3f3f7;
  border-radius: 100px;
}

.dough {
  margin-top: 10px;
}

.ingridient {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 150px);
  gap: 13px 10px;
  height: 300px;
}

.ingridient img {
  width: 84px;
  height: 84px;
}

.cell {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(6, 5, 50, 0.05);
  border-radius: 12px;
}

.cell:active {
  border: 1px solid #f96900;
  box-sizing: border-box;
}

.cell:hover {
  box-shadow: 0px 4px 5px rgba(6, 5, 50, 0.05);
  transition: 0.4s;
}
