body {
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 1.4;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  background: rgb(255, 255, 255);
}

html {
  scroll-behavior: smooth;
}

body img {
  vertical-align: bottom;
}

.container {
  max-width: 1060px;
  margin: 25px auto 0 auto;
}

.btn {
  width: 104px;
  height: 40px;
  background: #f96900;
  border-radius: 1000px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  line-height: 22px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #ed5d08;
  transition: 0.4s;
}

.create {
  width: 120px;
  height: 40px;
}

.select {
  width: 120px;
  height: 40px;
  background: #fff0e6;
  color: #d15700;
}

.select:hover {
  background: #ffd2b4;
}
